Screen {
    layout: vertical;
}

/*
.bview {
    height: 100%;
} */

#browser {
    border: solid red;
}

#main {
    border: solid blue;
}

#log {
    height: 35%;
    border: solid purple;
}

Placeholder {
    height: 1fr;
}
