Screen {
    layout: vertical;
}

Placeholder {
    height: 1fr;
    width: 1fr;
}

#app {
    /* border: solid blue; */
}


#main {
    /* layout: vertical; */
    layout: horizontal;
    /* border: solid orange; */
}

#browser {
    height: 1fr;
    width: 1fr;
    /* border: solid red; */
}

#content {
    height: 1fr;
    width: 1fr;
    /* border: solid turquoise; */
}

#log {
    height: 25%;
    /* border: solid purple; */
}

/*
.bview {
    height: 100%;
} */
